{% extends 'menu.php' %}

{% block title %}
Liste des Associations
{% endblock %}

{% block body %}

<div class="form-container-parent">
    <div class="form-container-formulaire">
<div>
    <h2>Disponibles par téléphone du lundi au vendredi, de 9h00 à 18h00</h2>
<br>
    <p>Je suis à votre disposition à tout moment pour des interventions techniques sur site web et un dépannage complet de votre site internet.</p>
<br>
    <h3>Experts en sites vitrines et e-commerce</h3><br>
    <p>J'effectue des diagnostics précis de votre site web, réalise les mises à jour nécessaires, et assure la restauration et le dépannage en collaboration avec vous.</p>

    <p>Votre site internet actuel vous pose problème ?</p>
    <ul>
        <li>A-t-il été créé par un ami qui n'a plus le temps de le gérer ?</li>
        <li>A-t-il été développé par une entreprise qui ne propose plus de services de mise à jour ?</li>
        <li>Votre agence web a-t-elle cessé ses activités ?</li>
        <li>A-t-il été conçu par un employé qui a quitté l'entreprise avec ses compétences ?</li>
    </ul>
<br>
    <p>Avec moi, je vous offre une prise en main pour recréer ou réparer votre site internet dans les plus brefs délais.</p>
</div>
</div>
</div>


{% endblock %}