@font-face {
    font-family: 'Khiara Script';
    src: url('KhiaraScript-Personal.woff2') format('woff2'),
        url('KhiaraScript-Personal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Old London Alternate';
    src: url('OldLondonAlternate.woff2') format('woff2'),
        url('OldLondonAlternate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

